.grid {
    display: grid;
}

.header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    justify-self: center;
}

footer {
    grid-area: footer;
}
