.header {
    background-image: linear-gradient(
            to right bottom,
            var(--color-primary-dark-transparent),
            var(--white-primary-transparent)
        ),
        url('/personal-blog/images/tiles-sm_1x.jpg');

    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: auto repeat(6, 1fr) / repeat(6, 1fr);
    grid-template-areas:
        'navigation navigation navigation navigation navigation navigation'
        '.......... circle     .......... .......... .......... ..........'
        '.......... .......... .......... .......... .......... ..........'
        '.......... .......... .......... .......... .......... ..........'
        '.......... .......... .......... .......... .......... ..........'
        '.......... .......... .......... .......... .......... ..........';
}

/* Skip link */
.header__skip-link-container {
    position: absolute;
    z-index: 999;
    top: -9rem;
    left: 0;
    right: 0;
    color: var(--on-color-primary);
    background-color: var(--color-primary);
    text-align: center;
    padding: 1.424rem;
    overflow: hidden;
    transition: transform 0.5s;
}

.header__skip-link-container:focus-within {
    padding: 1.802rem;
    transform: translateY(7.5rem);
}

.header__skip-link {
    color: inherit;
    font-size: 1.424rem;
}

.header__skip-link:focus,
.header__skip-link:active {
    text-decoration: underline;
    padding: 0.624rem;
    box-shadow: 0 0 3px 3px var(--color-tertiary);
    border-radius: 10rem;
}

/* Main heading */
.header__circle {
    background-color: var(--white-primary);
    box-shadow: 1px 1px 1px var(--gray-secondary-shadow);
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    padding: 3rem;
    grid-area: circle;
    position: relative;
}

.header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    margin: 0.214rem 0 0 1.266rem;
    text-shadow: 1px 1px 1px var(--white-primary-transparent);
}

.header__headline {
    color: var(--color-secondary);
    margin-bottom: -1rem;
    z-index: 2;
}

.header__subheading {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.3333;
    margin: 1.3333em 0;
    color: var(--on-color-primary);
}

/* Mobile S Landscape */
@media (max-height: 425px) {
    .header__circle {
        top: -10vh;
    }
}

/* Mobile M */
@media (min-width: 425px) and (min-height: 425px) {
    .header__circle {
        top: 5rem;
        width: 20rem;
        height: 20rem;
    }
}

/* Mobile L */
@media (min-width: 600px) and (min-height: 425px) {
    .header {
        background-image: linear-gradient(
                to right bottom,
                var(--color-primary-dark-transparent),
                var(--white-primary-transparent)
            ),
            url('/personal-blog/images/tiles-md_1x.jpg');
    }

    .header__circle {
        /* top: 20vh;
        left: 33vw; */
        width: 25rem;
        height: 25rem;
        /* transform: translate(-55%, -45%); */
    }
}

/* Tablet Landscape */
@media (min-width: 900px) {
    .header {
        background-image: linear-gradient(
                to right bottom,
                var(--color-primary-dark-transparent),
                var(--white-primary-transparent)
            ),
            url('/personal-blog/images/tiles-lg_1x.jpg');
    }
}

/* Laptop */
@media (min-width: 1240px) {
    .header__circle {
        top: 0;
    }
}

/* Desktop */
@media (min-width: 1600px) {
    .header {
        grid-template-areas:
            'navigation navigation navigation navigation navigation navigation'
            '.......... .......... .......... .......... .......... ..........'
            '.......... .......... .......... .......... .......... ..........'
            '.......... circle     .......... .......... .......... ..........'
            '.......... .......... .......... .......... .......... ..........'
            '.......... .......... .......... .......... .......... ..........';
    }
}

/* Desktop Large */
@media (min-width: 2560px) {
    .header {
        background-image: linear-gradient(
                to right bottom,
                var(--color-primary-dark-transparent),
                var(--white-primary-transparent)
            ),
            url('/personal-blog/images/tiles-xl_1x.jpg');
    }

    .header__circle {
        /* top: 29vh;
        left: 26vw; */
        width: 30rem;
        height: 30rem;
    }
}

@media (min-width: 2560px) {
    .header {
        background-image: linear-gradient(
                to right bottom,
                var(--color-primary-dark-transparent),
                var(--white-primary-transparent)
            ),
            url('/personal-blog/images/tiles-xl_1x.jpg');
    }
}
