.navigation {
    grid-area: navigation;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1.424rem 0;
    width: 100%;
    padding: 0.356rem;
    z-index: 500;
}

/* Sliding menu */
.navigation__slide-out {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    overflow-x: hidden;
    transition: width 0.5s;
    padding: 6rem 0;
    visibility: hidden;
}

.navigation__slide-out--visible {
    visibility: visible;
}

.navigation__slide-out--active {
    width: 17.857rem;
}

.navigation__button--open {
    margin: 0.712rem;
}

.navigation__button--close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.424rem 1.424rem;
}

.navigation__item {
    padding: 0.624rem 0.624rem 0.624rem 2.281rem;
    font-size: 1.802rem;
    margin: 0 1.802rem;
    color: var(--color-secondary);
    display: block;
}

.navigation__item:hover,
.navigation__item:focus {
    color: var(--color-secondary);
    text-decoration: underline;
}

.navigation__item:focus,
.navigation__item:active {
    box-shadow: 0 0 3px 3px var(--color-tertiary);
}

/* Search */
.navigation__search {
    display: flex;
    margin: 0.712rem 1rem 0.712rem 0;
}

.navigation__search-bar {
    font-size: 1.424rem;
    border-radius: 10rem 0 0 10rem;
    padding: 0.356rem 1rem;
    width: 12rem;
    background-color: var(--white-primary);
    color: var(--on-color-primary);
    border: solid var(--gray-secondary-light);
    border-width: 0.4px 0 0.4px 0.4px;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--gray-secondary-shadow);
    -webkit-appearance: none; /* Necessary to make the shape work on Safari for iOS*/
}

.navigation__search-bar::placeholder {
    color: var(--gray-secondary-light);
}

.navigation__search-bar:focus,
.navigation__search-bar:active {
    box-shadow: 0 0 3px 3px var(--color-tertiary);
}

/* Tablet Portrait*/
@media (min-width: 768px) {
    .navigation {
        background-color: var(--color-primary-dark-transparent);
        position: relative;
    }

    .navigation__button--open,
    .navigation__button--close {
        visibility: hidden;
    }

    /* Navbar */
    .navigation__slide-out {
        width: auto;
        position: absolute;
        overflow-x: visible;
        background-color: transparent;
        padding: 0.712rem 1rem;
        visibility: visible;
    }

    .navigation__list {
        display: flex;
        align-items: center;
    }

    .navigation__item {
        padding: 0.356rem 1rem;
        font-size: 1.266rem;
        margin: 0.712rem 0;
        color: var(--white-primary);
        display: inline-block;
    }

    .navigation__item:hover,
    .navigation__item:focus {
        color: var(--color-tertiary);
    }

    /* Search */
    .navigation__search-bar {
        font-size: 1.266rem;
    }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
    .navigation__item {
        font-size: 1.424rem;
        margin: 0.712rem 1.802rem;
    }

    .navigation__search-bar {
        font-size: 1.424rem;
    }
}
