.navigation__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1.424rem 0;
    /* background-color: var(--color-primary-dark); */
    background-color: var(--navigation-background-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.356rem;
    z-index: 500;
}

/* TODO: Set margin-left to 1rem for desktop */
.navigation__button--open {
    font-size: 1.802rem;
    background-color: transparent;
    padding: 0.4rem 0.5rem 0.1rem 0.5rem;
    margin: 1.424rem 0.712rem 0.712rem 0.712rem;
}

.navigation__slide-out {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: var(--color-primary-dark); */
    background-color: var(--navigation-background-color);
    overflow-x: hidden;
    transition: width 0.5s;
    padding: 6rem 0;
    visibility: hidden;
}

.navigation__search {
    display: flex;
    margin: 1.424rem 1rem 0.712rem 0;
}

.navigation__search-bar {
    font-size: 1.424rem;
    border-radius: 10rem 0 0 10rem;
    padding: 0.356rem 1rem;
    width: 12rem;
    background-color: var(--input-background-color);
    color: var(--input-on-color);
    border: solid var(--input-border-color);
    border-width: 0.4px 0 0.4px 0.4px;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--input-shadow-color);
    -webkit-appearance: none; /* Necessary to make the shape work on Safari for iOS*/
}

.navigation__search-bar::placeholder {
    color: var(--input-placeholder-color);
}

.navigation__item {
    padding: 0.624rem 0.624rem 0.624rem 2.281rem;
    font-size: 1.802rem;
    margin: 0 1.802rem;
    /* color: var(--on-color-primary-dark); */
    color: var(--navigation-on-color);
    display: block;
}

.navigation__button--open:focus,
.navigation__search-bar:focus,
.navigation__item:focus,
.navigation__button--close:focus,
.navigation__button--open:active,
.navigation__search-bar:active,
.navigation__item:active,
.navigation__button--close:active {
    box-shadow: 0 0 3px 3px var(--navigation-outline-color);
    outline: none;
}

.navigation__button-search:focus,
.navigation__button-search:active {
    box-shadow: 0 0 3px 3px var(--button-outline-color);
    outline: none;
}

.navigation__button--open:focus,
.navigation__button--close:focus {
    border-radius: 50%;
}

.navigation__button--close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.802rem;
    background-color: transparent;
    color: var(--navigation-on-color);
    border: none;
    margin: 3.228rem 1.424rem;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

.navigation__item:hover,
.navigation__item:focus {
    text-decoration: underline;
}

.visible {
    visibility: visible;
}

.active {
    width: 17.857rem;
}

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.navigation__icon-menu,
.navigation__icon-cross {
    width: 2.027rem;
    height: 2.027rem;
    color: var(--navigation-on-color);
}
