.grid--design {
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.design__section {
    padding: 1.424rem 0 1rem 0;
}

.design__subsection {
    display: flex;
    justify-content: space-around;
    background-color: var(--white-primary);
    padding: 1rem 1rem 1.424rem 1.424rem;
    margin: 1.424rem 0.5rem 0 0;
    box-shadow: 1rem 1.5rem 1.5rem var(--gray-primary-shadow);
    border-radius: 0.214rem;
}

.design__background {
    background-color: var(--color-primary);
    border-radius: 0.214rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design__background--menu-button {
    width: 4.5rem;
    height: 4.5rem;
}

.design__card {
    margin-top: 1.5rem;
}

/* Mobile landscape */
@media (min-width: 550px) {
    .buttons {
        display: grid;
        grid-template: auto 1fr auto 1fr / 1fr 1fr;
        grid-template-areas:
            'heading-primary heading-search'
            'primary         search'
            'heading-tag     heading-menu'
            'tag             menu';
        column-gap: 1.5rem;
    }

    .buttons__heading--primary {
        grid-area: heading-primary;
    }

    .buttons__sample--primary {
        grid-area: primary;
    }

    .buttons__heading--search {
        grid-area: heading-search;
    }

    .buttons__sample--search {
        grid-area: search;
    }

    .buttons__heading--tag {
        grid-area: heading-tag;
    }

    .buttons__sample--tag {
        grid-area: tag;
    }

    .buttons__heading--menu {
        grid-area: heading-menu;
    }

    .buttons__sample--menu {
        grid-area: menu;
    }

    .forms {
        display: grid;
        grid-template: auto 1fr / 1fr 1fr;
        grid-template-areas:
            'heading-search-bar heading-text-field'
            'search-bar text-field';
        column-gap: 1.5rem;
    }

    .forms__heading--search {
        grid-area: heading-search-bar;
    }

    .forms__sample--search {
        grid-area: search-bar;
    }

    .forms__heading--text {
        grid-area: heading-text-field;
    }

    .forms__sample--text {
        grid-area: text-field;
    }
}

/* Tablet portrait */
@media (min-width: 768px) {
    .typography {
        display: grid;
        grid-template: repeat(auto, 3) 1fr / 1fr 1fr;
        grid-template-areas:
            'heading-h heading-h'
            'headings headings'
            'heading-p heading-b'
            'paragraph blockquote';
        justify-items: stretch;
        align-items: stretch;
        column-gap: 1.5rem;
    }

    .typography__heading--headings {
        grid-area: heading-h;
    }

    .typography__sample--headings {
        grid-area: headings;
    }

    .typography__heading--paragraph {
        grid-area: heading-p;
    }

    .typography__sample--paragraph {
        grid-area: paragraph;
    }

    .typography__heading--blockquote {
        grid-area: heading-b;
    }

    .typography__sample--blockquote {
        grid-area: blockquote;
    }
}

/* Tablet landscape */
@media (min-width: 1024px) {
    .typography {
        display: grid;
        grid-template: auto 1fr / auto 1fr 1fr;
        grid-template-areas:
            'heading-h heading-p heading-b'
            'headings paragraph blockquote';
        column-gap: 1.5rem;
    }

    .cards {
        display: grid;
        grid-template: repeat(auto, 3) 1fr / 1fr 1fr;
        grid-template-areas:
            'heading-featured heading-featured'
            'featured featured'
            'heading-regular heading-author'
            'regular author';
        column-gap: 1.5rem;
    }

    .cards__heading--featured {
        grid-area: heading-featured;
    }

    .cards__sample--featured {
        grid-area: featured;
    }

    .cards__heading--regular {
        grid-area: heading-regular;
    }

    .cards__sample--regular {
        grid-area: regular;
    }

    .cards__heading--author {
        grid-area: heading-author;
    }

    .cards__sample--author {
        grid-area: author;
    }
}

/* Desktop */
@media (min-width: 1600px) {
    .cards {
        display: grid;
        grid-template: auto 1fr auto 1fr / 2fr 1fr;
        grid-template-areas:
            'heading-featured heading-regular'
            'featured regular'
            'featured heading-author'
            'featured author';
        column-gap: 1.5rem;
    }
}
