.grid--home {
    grid-template-areas:
        'header'
        'main'
        'aside'
        'footer';
}

.latest {
    display: grid;
    grid-template-areas:
        'featured'
        'first'
        'second';
    column-gap: 1.5rem;
}

.latest__post--featured {
    grid-area: featured;
}

.latest__post--first {
    grid-area: first;
}

.latest__post--second {
    grid-area: second;
}

.popular {
    display: grid;
    grid-template-areas:
        'first'
        'second'
        'third';
    column-gap: 1.5rem;
}

.popular__post--first {
    grid-area: first;
}

.popular__post--second {
    grid-area: second;
}

.popular__post--third {
    grid-area: third;
}

@media (min-width: 768px) {
    .latest {
        grid-template-areas:
            'featured featured'
            'first second';
    }

    .popular {
        grid-template-areas:
            'first first'
            'second third';
    }
}

@media (min-width: 1024px) {
    .popular {
        grid-template-areas: 'first second third';
    }
}

@media (min-width: 1240px) {
    .grid--home {
        grid-template-areas:
            'header header header'
            'main   main   aside '
            'footer footer footer';
        column-gap: 3rem;
    }

    .aside--home {
        align-self: start;
        position: relative;
        right: 3rem;
        top: 4.5rem;
    }

    .popular {
        grid-template-areas:
            'first first'
            'second third';
    }
}

/* Laptop */
@media (min-width: 1240px) {
    .grid {
        grid-template-areas:
            'header header header'
            'main   main   aside '
            'footer footer footer';
        column-gap: 3rem;
    }

    aside {
    }
}

@media (min-width: 1600px) {
    .popular {
        grid-template-areas: 'first second third';
    }
}

/* Desktop */
@media (min-width: 1800px) {
    .grid--home {
        grid-template-areas:
            'header header header header header'
            'main   main   main   main   aside'
            'footer footer footer footer footer';
    }
}
