/* Primary Button */
.button {
    display: inline-block;
    background-color: var(--color-secondary);
    color: var(--on-color-secondary);
    font-weight: 600;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--gray-secondary-shadow);
}

.button:hover {
    background-color: var(--color-tertiary);
    color: var(--on-color-secondary);
}

.button:focus,
.button:active,
.button:focus-within {
    box-shadow: 0 0 3px 3px var(--color-tertiary);
}

.button--raising {
    padding: 0.712rem 1.412rem;
    border-radius: 10rem;
    transition: transform 0.3s;
}

.button--raising:hover {
    transform: translateY(-0.2rem) scale(1.03);
}

/* Search bar button */

.button--search {
    font-size: 1.424rem;
    padding: 0.356rem 1rem;
    border-radius: 0 10rem 10rem 0;
}

.button-search:focus,
.button-search:active {
    box-shadow: 0 0 3px 3px var(---color-tertiary);
}

/* Tag buttons */

.tag {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--on-color-primary);
    padding: 0.712rem 0.712rem;
    margin: 1.5rem 0.3rem 0 0;
    border-radius: 10rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--gray-primary-shadow);
    transition: transform 0.3s;
}

.tag:hover {
    transform: translateY(-0.2rem) scale(1.03);
}

.tag:focus-within {
    box-shadow: 0 0 3px 3px var(--color-tertiary);
}

/* Menu buttons */
.menu-button {
    font-size: 1.802rem;
    background-color: var(--white-primary-transparent);
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
    border-radius: 50%;
}

.menu-button:focus,
.menu-button:active {
    background-color: transparent;
    box-shadow: 0 0 3px 3px var(--color-tertiary);
}
