.card {
    background-color: var(--card-background-color);
    color: var(--card-on-color);
    box-shadow: 1rem 1.5rem 1.5rem var(--card-shadow-color);
    border-radius: 0.214rem;
    padding: 0 1rem 1.424rem 1.424rem;
    transition: transform 0.3s;
    margin: 1.424rem 0.5rem 3rem 0.5rem;
}

.author-card {
    padding: 1.5rem 1rem 1.424rem 1.424rem;
}

.card:hover {
    transform: translateY(-1rem) scale(1.001);
}

/* Card Header */
.card__header {
    font-family: 'Eczar', serif;
}

.card__header--author {
    margin-top: 1.5rem;
}

.card__info {
    display: flex;
    justify-content: space-between;
}

.card__type {
    font-weight: 500;
    color: var(--card-type-color);
}

.card__date {
    color: var(--card-date-color);
}

.card__type, .card__date {
    margin-top: 0.788rem;
}

.card__heading-wrapper {
    display: flex;
    align-items: baseline;
    margin-top: 0.5rem;
}

.card__thumbnail {
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    left: -0.356rem;
    margin-top: 0.356rem;
    border-radius: 50%;
}

.card__heading {
    align-self: flex-start;
    margin-left: 0.356rem;
}

.card__title {
    margin-top: 0;
    font-size: 1.802rem;
    line-height: 1.6648;
    font-weight: 600;
    transition: transform 0.3s;
}

.card__title:hover {
    text-decoration: underline;
    transform: translateY(-0.1rem) scale(1.03);
}

.card__subheading {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: transform 0.3s;
}

.card__author:hover {
    text-decoration: underline;
    transform: translateY(-0.1rem) scale(1.03);
}

.card__title:focus-within,
.card__author:focus-within {
    box-shadow: 0 0 3px 3px var(--card-heading-outline-color);
    border-radius: 3px;
}

.card__text {
    max-width: 50rem;
}

.card__tag-list {
    display: flex;
    flex-flow: row wrap;
}

.card__figure {
    margin-top: 1.5rem;
    max-width: 100%;
    max-height: 100%;
}

.card__picture {
    max-width: 100%;
    max-height: 100%;
}

.card__img {
    max-width: 100%;
    max-height: 100%;
}

.card__figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.79rem;
    line-height: 1.8984;
    padding bottom: 0.356rem;
    max-width: 100%;
    border-bottom: 1px solid var(--card-on-color);
}
