.signup {
    background-color: var(--signup-background-color);
    color: var(--signup-on-color);
    margin: 1.424rem 1.424rem 3rem 1.424rem;
    padding: 1.424rem;
    border: 3px solid var(--signup-border-color);
    border-radius: 0.214rem;
    display: flex;
    flex-flow: column nowrap;
}

.signup__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.signup__heading {
    text-align: center;
}

.signup__subheading {
    position: relative;
    bottom: 1.5rem;
}

.signup__form {
    display: flex;
    flex-flow: column nowrap;
}

.signup__name,
.signup__email {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.5rem;
}

.signup__label {
    margin: 0 0 0.356rem 0.712rem;
}

.signup__error {
    color: var(--input-invalid-color);
}

.signup__field {
    background-color: var(--input-background-color);
    color: var(--input-on-color);
    border: 1px solid var(--input-border-color);
    border-radius: 10rem;
    line-height: 1.5;
    padding: 0.356rem 0.712rem;
}

.signup__field::placeholder {
    color: var(--input-placeholder-color);
}

.signup__icon {
    align-self: flex-end;
    position: relative;
    bottom: 1.702rem;
    right: 1.802rem;
}

.signup__icon--valid {
    color: var(--input-valid-color);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.signup__icon--invalid {
    color: var(--input-invalid-color);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.signup__button {
    align-self: center;
    background-color: var(--button-background-color);
    color: var(--button-on-color);
    padding: 0.712rem 1.412rem;
    border-radius: 10rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--button-shadow-color);
    transition: transform 0.3s;
    -webkit-appearance: none; /* Necessary for styling to work on iOS */
}

.signup__button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-on-color);
    transform: translateY(-0.2rem) scale(1.03);
}

.signup__field:focus,
.signup__field:active {
    outline: none;
    box-shadow: 0 0 3px 3px var(--input-outline-color);
}

.signup__button:focus,
.signup__buton:active {
    outline: none;
    box-shadow: 0 0 3px 3px var(--button-outline-color);
}

.signup__field:not(:placeholder-shown):invalid,
.signup__field:not(:placeholder-shown):focus:invalid {
    box-shadow: 0 0 3px 3px var(--input-invalid-color);
}

.signup__field:focus:valid {
    box-shadow: 0 0 3px 3px var(--input-valid-color);
}

.signup__field:not(:placeholder-shown):invalid
    + .signup__icon
    .signup__icon--invalid,
.signup__field:not(:placeholder-shown):focus:invalid
    + .signup__icon
    .signup__icon--invalid,
.signup__field:valid + .signup__icon .signup__icon--valid {
    visibility: visible;
}
