.signup {
    background-color: var(--signup-background-color);
    color: var(--signup-on-color);
    margin: 1.424rem 1.424rem 3rem 1.424rem;
    padding: 1.424rem;
    border: 3px solid var(--signup-border-color);
    border-radius: 0.214rem;
    display: flex;
    flex-flow: column nowrap;
}

.signup__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.signup__heading {
    text-align: center;
}

.signup__subheading {
    position: relative;
    bottom: 1.5rem;
}

.signup__form {
    display: flex;
    flex-flow: column nowrap;
}

.signup__name,
.signup__email {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.5rem;
}

.signup__label {
    margin: 0 0 0.356rem 0.712rem;
}

.signup__error {
    color: var(--input-invalid-color);
}

.signup__field {
    background-color: var(--input-background-color);
    color: var(--input-on-color);
    border: 1px solid var(--input-border-color);
    border-radius: 10rem;
    line-height: 1.5;
    padding: 0.356rem 0.712rem;
}

.signup__field::placeholder {
    color: var(--input-placeholder-color);
}

.signup__icon {
    align-self: flex-end;
    position: relative;
    bottom: 1.702rem;
    right: 1.802rem;
}

.signup__button {
    align-self: center;
    -webkit-appearance: none; /* Necessary for styling to work on iOS */
}
