body {
    --color-primary: rgb(5, 175, 242);
    --color-primary-light: rgb(7, 199, 242);
    --color-primary-dark: rgb(3, 94, 114);

    --color-secondary: #d98032;
    --color-secondary-light: #e0a824;
    --color-secondary-dark: #f0780e;

    --color-tertiary: #f27457;
    --color-tertiary-light: #f29d8a;
    --color-tertiary-dark: #e35839;

    --gray-primary: #6c828b;
    --gray-primary-light: rgb(112, 142, 144);
    --gray-primary-dark: rgb(51, 63, 66);
    --gray-primary-shadow: rgba(51, 63, 66, 0.8);

    --gray-secondary: #858585;
    --gray-secondary-light: #828282;

    --gray-tertiary: #a4a4a4;

    --on-color-primary: #000;
    --on-color-primary-dark: #fff9ea;
    --on-color-secondary: #020208;
    --on-color-tertiary: #020208;

    --white-primary: #e5f7ff;
}
