body {
    --color-primary: rgba(0, 159, 253, 1);
    --color-primary-transparent: rgba(0, 159, 253, 0.5);
    --color-primary-light: rgb(206, 232, 121);
    --color-primary-light-transparent: rgba(206, 232, 121, 0.5);
    --color-primary-dark: rgba(42, 42, 114, 1);
    --color-primary-dark-transparent: rgba(42, 42, 114, 0.5);

    --color-secondary: rgba(255, 164, 0, 1);
    --color-secondary-light: rgb(206, 232, 121);
    --color-secondary-light-transparent: rgba(255, 206, 58, 0.5);
    --color-secondary-dark: #fa6900;

    --color-tertiary: rgb(255, 82, 84);
    --color-tertiary-light: #f29d8a;
    --color-tertiary-light-transparent: rgba(242, 157, 138, 0.5);
    --color-tertiary-dark: rgb(227, 88, 57);
    --color-tertiary-dark-transparent: rgb(227, 88, 57, 0.5);

    --gray-primary: #6c828b;
    --gray-primary-light: rgb(112, 142, 144);
    --gray-primary-dark: rgb(51, 63, 66);
    --gray-primary-shadow: rgba(51, 63, 66, 0.8);

    --gray-secondary: #858585;
    --gray-secondary-light: #828282;

    --gray-tertiary: #a4a4a4;

    --on-color-primary: #000;
    --on-color-primary-dark: #fff9ea;
    --on-color-secondary: #020208;
    --on-color-tertiary: #020208;

    --white-primary: rgba(234, 246, 255, 1);

    --color-facebook: #3b5998;
    --color-twitter: #1da1f2;
    --color-linkedin: #0077b5;
}
