:root {
    /* Color palette */
    --color-primary: #a8dadc;
    --color-primary-transparent: rgba(168, 218, 220, 0.5);

    --color-primary-dark: #457b9d;
    --color-primary-dark-transparent: rgba(69, 123, 157, 0.5);

    --color-secondary: #df323f;

    --color-tertiary: #ee8434;
    --color-tertiary-transparent: rgb(238, 132, 52, 0.5);

    --on-color-primary: #1d3557;
    --on-color-secondary: #fff;

    --color-red: #df323f;
    --color-green: #3ab795;

    --white-primary: #f1faee;
    --white-primary-transparent: rgba(241, 250, 238, 0.5);

    --gray-primary: #5a5a5a;
    --gray-primary-dark: #404141;
    --gray-primary-shadow: rgba(90, 90, 90, 0.8);

    --gray-secondary-light: #727171;
    --gray-secondary-dark: #474646;
    --gray-secondary-shadow: rgba(114, 113, 113, 0.8);

    --color-facebook: #3b5998;
    --color-twitter: #1da1f2;
    --color-linkedin: #0077b5;
}
