@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;800&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--on-color-primary);
}

main {
    padding: 0 1.424rem;
}

h1,
h2,
h3 {
    font-family: 'Eczar', serif;
}

/* Typographic scale: 8:9 ratio
   Calculated using https://modularscale.com and https://drewish.com/tools/vertical-rhythm/
   to achieve vertical rhythm
*/
h1 {
    color: var(--color-secondary);
    font-size: 2.027rem;
    line-height: 1.4798;
    margin-top: 0.7399em;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 1.602rem;
    line-height: 1.8729;
    margin-top: 0.9365em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h3 {
    font-size: 1.802rem;
    line-height: 1.6648;
    margin-top: 0.8324em;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1.5em;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/* Anchor inside paragraphs */
a {
    color: var(--on-color-primary);
    font-weight: 600;
}

a:hover {
    color: var(--color-secondary);
    text-decoration: underline dotted var(--color-secondary);
}

a:focus,
a:active {
    box-shadow: 0 0 3px 3px var(--on-color-primary);
}

/* Reset for anchors outside paragraphs */
.link--reset {
    color: inherit;
    font-weight: inherit;
}

.link--reset:hover {
    color: inherit;
    text-decoration: none;
}

.link--reset:focus,
.link--reset:active {
    box-shadow: none;
}

small {
    font-size: 0.79rem;
    line-height: 1.8984;
    margin-top: 1.8984em;
}

blockquote {
    width: 70%;
    max-width: 25rem;
    margin: 0 auto;
}

blockquote p {
    font-size: 1.125rem;
    line-height: 1.3333;
    margin-top: 1.3333em;
}

blockquote footer {
    font-size: 0.889rem;
    line-height: 1.6876;
    margin-top: 1.6876em;
}

cite {
    font-style: italic;
}

/* Mobile Landscape */
@media (min-width: 425px) {
    h1 {
        font-size: 2.281rem;
        line-height: 1.3154;
        margin-top: 0.6577em;
    }
}

/* Mobile L */
@media (min-width: 600px) and (min-height: 425px) {
    h1 {
        font-size: 3.247rem;
        line-height: 1.3858;
        margin-top: 0.4619em;
    }
}
