/* Basic styles for the whole site */
@import 'base/base.css';
@import 'base/colors.css';
@import 'base/typography.css';

/* Main layout elements for the site */
@import 'layout/grid.css';
@import 'layout/navigation.css';
@import 'layout/header.css';
@import 'layout/footer.css';

/* Specific component styles */
@import 'components/buttons.css';
@import 'components/icons.css';
@import 'components/signup.css';
@import 'components/card.css';

/* Specific page styles */
@import 'pages/home.css';
@import 'pages/post.css';
@import 'pages/design-system.css';

/* Header background image
   It needs to be here due to differences in path resolution across browsers */
.header {
    background-image: linear-gradient(
            to right bottom,
            var(--color-primary-dark-transparent),
            var(--white-primary-transparent)
        ),
        url('../images/tiles-sm_1x.jpg');
}

/* Mobile L */
@media (min-width: 600px) and (min-height: 425px) {
    .header {
        background-image: linear-gradient(
                to right bottom,
                var(--color-primary-dark-transparent),
                var(--white-primary-transparent)
            ),
            url('../images/tiles-md_1x.jpg');
    }
}

/* Tablet Landscape */
@media (min-width: 900px) {
    .header {
        background-image: linear-gradient(
                to right bottom,
                var(--color-primary-dark-transparent),
                var(--white-primary-transparent)
            ),
            url('../images/tiles-lg_1x.jpg');
    }
}

/* Desktop large */
@media (min-width: 2560px) {
    .header {
        background-image: linear-gradient(
                to right bottom,
                var(--color-primary-dark-transparent),
                var(--white-primary-transparent)
            ),
            url('../images/tiles-xl_1x.jpg');
    }
}
